.txt {
    text-align: center;
    animation: txt 7s ease-out infinite normal;
    font-size: 24px;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .txt {
        font-size: 34px; /* Adjust the font size for regular view */
    }
}

@keyframes txt {
    0% {
        transform: scale(0.9);
        color: rgb(112, 32, 32); /* Initial color */
    }    
    25% {
        transform: scale(1);
        color: #4b0a07; /* Change color at 25% */
    }    
    60% {
        transform: scale(0.9);
        color: rgb(83, 9, 9); /* Change color at 60% */
    }    
    100% {
        transform: scale(1);
        color: #550400; /* Reset to initial color */
    }    
}
